<div class="d-flex gap-4 flex-row-reverse">
  <a
    [routerLink]="['/students/create']"
    [queryParams]="params"
    class="btn btn-outline-success my-2 my-sm-0"
    >Add Student</a
  >
  <div class="flex-fill">
    <form class="form-inline my-2 my-lg-0">
      <input
        (keyup)="onSearch($event)"
        class="form-control mr-sm-2"
        name="search"
        placeholder="Search"
        aria-label="Search"
      />
    </form>
  </div>
</div>
<div *ngIf="vm$ | async as vm" class="overflow-auto">
  <table mat-table [dataSource]="vm.students" class="mat-elevation-z8 demo-table w-full">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>name</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <!-- enrollmentDuration Column -->
    <ng-container matColumnDef="enrollmentDuration">
      <th mat-header-cell *matHeaderCellDef>enrollmentDuration</th>
      <td mat-cell *matCellDef="let element">{{ element.enrollmentDuration }}</td>
    </ng-container>

    <!-- enrollmentDate Column -->
    <ng-container matColumnDef="enrollmentDate">
      <th mat-header-cell *matHeaderCellDef>enrollmentDate</th>
      <td mat-cell *matCellDef="let element">{{ element.enrollmentDate | date }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columns"></tr>
    <tr mat-row *matRowDef="let row; columns: columns"></tr>
  </table>
  <div class="mt-4" *ngIf="totalPage$ | async as totalPage">
    <app-pagination
      [currentPage]="vm.params.pageIndex"
      [totalPage]="totalPage"
      (pageChanged)="onPageChange($event)"
    >
    </app-pagination>
  </div>
</div>
