<div class="mb-3 row">
    <a [routerLink]="['/students/create']" [queryParams]="params" class="btn btn-outline-success my-2 my-sm-0 col-2">Add
        Student</a>
    <div class="col-9 mr-0">
        <form class="form-inline my-2 my-lg-0 float-right">
            <input (keyup)="onSearch($event)" class="form-control mr-sm-2" name="search" placeholder="Search"
                aria-label="Search">
        </form>
    </div>
</div>
<div *ngIf="vm$ | async as vm">
    <table class="table mt-3">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Enrollment Duration</th>
                <th scope="col">Manipulate</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor='let student of vm.students'>
                <th scope="row">
                    <a [routerLink]="['/students', student.id]" [queryParams]="params">
                        {{student.name}}
                    </a>
                </th>
                <td>{{student.enrollmentDuration}}</td>
                <td>
                    <a [routerLink]="['/students', student.id, 'edit']" [queryParams]="params" class="mr-1">Edit</a>
                    <a (click)="onRemoveStudent(student.id)" class="mr-1">Remove</a>
                </td>
            </tr>
        </tbody>
    </table>

    <app-pagination [currentPage]="vm.params.pageIndex" (pageChanged)="onPageChange($event)">
    </app-pagination>
</div>