<form class="text-center border border-light p-5">
    <h1 class="h3 mb-3 font-weight-normal">LOG IN</h1>
    <label for="inputUserName" class="sr-only">User Name</label>
    <input type="text" id="inputUserName" class="form-control mb-4" placeholder="User Name" required="true" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control mb-4" placeholder="Password" required="true">
    <button (click) = "onLoggedIn()"
     class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
</form>